[submodule "src/cert-manager"]
	path = src/cert-manager
	url = https://github.com/zyrakq/cert-manager-stack.git
[submodule "src/elasticsearch"]
	path = src/elasticsearch
	url = https://github.com/zyrakq/elasticsearch-stack.git
[submodule "src/letsencrypt-manager"]
	path = src/letsencrypt-manager
	url = https://github.com/zyrakq/letsencrypt-manager-stack.git
[submodule "src/step-ca-manager"]
	path = src/step-ca-manager
	url = https://github.com/zyrakq/step-ca-manager-stack.git
